$canvasMarginLeft: 150px;

.main-canvas {
  margin-left: $canvasMarginLeft;
  width: calc(100% - #{$canvasMarginLeft});
  height: 100%;
}

.toolbar {
  display: flex;
  width: $canvasMarginLeft;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  position: fixed;
  background-color: #fff;
  z-index: 1;
}
