$canvasMarginLeft: 0px;

.main-canvas {
  margin-left: $canvasMarginLeft;
  width: calc(100% - #{$canvasMarginLeft});
  height: 100%;
}

.toolbar {
  display: flex;
  width: $canvasMarginLeft;
  height: 100%;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  position: fixed;
  background-color: #fff;
  z-index: 1;
}

.score {
  position: fixed;
  top: 10px;
  left: 10px;
  user-select: none;
}

.gameover-wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  
  & > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    & > h3 {
      margin-bottom: 1em;
      font-size: 34px;
      color: brown;
    }
    & > button {
      padding: 4px 20px;
      color: #fff;
      border: none;
      border-radius: 4px;
      background: #1890ff;
      cursor: pointer;
      &:hover {
        background: #2890ff;
      }
    }
  }
}
.gameover-wrapper-show {
  opacity: 1;
  z-index: 10;
  background: rgba(0,0,0,0.5);
}

.leaderboard {
  width: 300px;
  margin: 30px auto 0;
  padding: 20px 10px;
  list-style: none;
  background: #fff;
  border-radius: 8px;

  li {
    line-height: 2;
    font-size: 20px;
  }
}
